.container{
    display: flex;
    width: 80%;
}

.image{
  
width: 37px;
height: 37px;
background-blend-mode: normal;
}

.textContainer{
    margin: 5px;

   
}



h6{
    margin-left: 10px;
    font-size: 12px;
}